@model MenuViewModel

<div class="row">
    <div class="col s12">
        @if (Model.Menu.Id == null || Model.Menu.Id == Guid.Empty)
        {
            <h4>Create menu</h4>
        }
        else
        {
            <h4>Edit menu</h4>
        }
    </div>
    <div class="col s12">
        <form method="post" asp-controller="Menu"
              asp-action="@(Model.Menu.Id == null || Guid.Empty == Model.Menu.Id ? "Create" : "Update")">
            @Html.Hidden("Id", Model.Menu.Id)
            @Html.Hidden("Id", Model.Menu.OwnerId)

            <div>
                <label asp-for="@Model.Menu.Name"></label>
                <input asp-for="@Model.Menu.Name" name="Name" required/>
            </div>
            <div>
                <label asp-for="@Model.Menu.UrlLink"></label>
                <input asp-for="@Model.Menu.UrlLink" name="UrlLink" />
            </div>
            <div>
                <label asp-for="@Model.Menu.Order"></label>
                <input asp-for="@Model.Menu.Order" name="Order" />
            </div>
            <div>
                <label>
                    <input type="checkbox" @(Model.Menu.Active ?? false ? "checked" : "") value="true" name="Active" />
                    <span>Active</span>
                </label>
            </div>

            <div>
                <label for="ParentId">Select Parent</label>

                <select name="ParentId">
                    <option value="">Choose your option</option>
                    @foreach (var c in Model.AllMenus)
                    {
                        <partial name="_ParentMenuOption" model="c" 
                                 view-data='@new ViewDataDictionary(ViewData) { { "ParentId", Model.Menu.ParentId } }' />
                    }
                </select>
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</div>